.nav-opcoes a{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    float: left !important;
}

.navbar-brand{
    font-size: 22px !important;    
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%
  }

html, 
body{
    height: 100%;
}

header{
    background-image: url(img/castelo.jpg);
    background-size: cover;
    background-position:top center;
    height: 100%;
    position: relative;
}

.topCasaFina-banner{
    text-align: center;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 8px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.topCasaFina-banner h1{
    margin: 0px;
}

.topCasaFina-banner button{
    white-space: unset;
}

.banner-airbnb h2{
    margin-top: 10px !important;
}

.banner-airbnb{
    margin-bottom: 0px !important;
}

#depoimentos{
    position: relative;
}

.titulo-depoimentos{
    background-color: rgba(53, 49, 49, 0.7);
    color: rgb(252, 251, 249);
    padding: 25px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 26px;
    border-bottom-right-radius: 12px;
}

.titulo-depoimentos{
    position: absolute;
    z-index: 1;
}

@media (max-width:480px){
.titulo-depoimentos{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
   }
}

@media (max-width:320px){
.titulo-depoimentos{
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
   }
}


.video-institucional{
    background-color: rgb(53, 49, 49);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px; 
    color: rgb(252, 251, 249);
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 0;
    font-size: 22px;
    padding-left: 10px;
}

#contato{
    border-style: double;
    border-color: rgb(88, 97, 94);
    border-radius: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
    padding-bottom: 5px;
}

#contato h2{
    margin-top: 10px;
    margin-bottom: 0;
}

.input-contato{
    margin-bottom: 10px !important;
}

.botao-form-enviar{
    margin-top: 10px;
}

footer{
    background-color: rgb(49, 45, 45);
    color: white;
    padding: 20px;
    margin-top: 10px;
}

footer address:last-child{
    margin-bottom: 0;
}